- if tender.direct_payment?
  = render 'workarea/storefront/order_mailer/tenders/credit_card', tender: tender
- else
  %p
    = "#{t('workarea.storefront.paypal.paid_with_paypal')}: #{number_to_currency tender.amount}"
