---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RkFLRV9QQVlQQUxfQ0xJRU5UX0lEOkZBS0VfUEFZUEFMX0NMSUVOVF9TRUNS\nRVQ=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - de5d164520a0c
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAFveIphmkPeQkxcAq1BS07DVrmJpoMOxMsZeCXmCwkbSkIp3O18l3JH-uHeCXYQJhmM1CZaMm8TyDepvU7KprlKuuiCyg","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2020-02-06T16:42:27ZFy3NsNH79TYyASlMh7tVMXVNGFTLxcg9I-fKIo2HAew"}'
  recorded_at: Thu, 06 Feb 2020 16:42:27 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/notifications/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"https://example.com/my-webhooks","event_types":[{"name":"PAYMENT.CAPTURE.COMPLETED"},{"name":"PAYMENT.CAPTURE.DENIED"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAFveIphmkPeQkxcAq1BS07DVrmJpoMOxMsZeCXmCwkbSkIp3O18l3JH-uHeCXYQJhmM1CZaMm8TyDepvU7KprlKuuiCyg
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - ee00e5e5c7d6
    body:
      encoding: UTF-8
      string: '{"id":"20S04938V6225614R","url":"https://example.com/my-webhooks","event_types":[{"name":"PAYMENT.CAPTURE.COMPLETED","description":"A
        payment capture completes."},{"name":"PAYMENT.CAPTURE.DENIED","description":"A
        payment capture is denied."}],"links":[{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"delete","method":"DELETE"}]}'
  recorded_at: Thu, 06 Feb 2020 16:42:28 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/notifications/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAFveIphmkPeQkxcAq1BS07DVrmJpoMOxMsZeCXmCwkbSkIp3O18l3JH-uHeCXYQJhmM1CZaMm8TyDepvU7KprlKuuiCyg
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 9966e2a1501d6
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"id":"20S04938V6225614R","url":"https://example.com/my-webhooks","event_types":[{"name":"PAYMENT.CAPTURE.COMPLETED","description":"A
        payment capture completes.","status":"ENABLED"},{"name":"PAYMENT.CAPTURE.DENIED","description":"A
        payment capture is denied.","status":"ENABLED"}],"links":[{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"update","method":"PATCH"},{"href":"https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R","rel":"delete","method":"DELETE"}]}]}'
  recorded_at: Thu, 06 Feb 2020 16:42:29 GMT
[...]
- request:
    method: delete
    uri: https://api.sandbox.paypal.com/v1/notifications/webhooks/20S04938V6225614R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAFveIphmkPeQkxcAq1BS07DVrmJpoMOxMsZeCXmCwkbSkIp3O18l3JH-uHeCXYQJhmM1CZaMm8TyDepvU7KprlKuuiCyg
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 204
      message: No Content
    headers:
      Paypal-Debug-Id:
      - e0e9f2216a9dc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 06 Feb 2020 16:42:30 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/notifications/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAFveIphmkPeQkxcAq1BS07DVrmJpoMOxMsZeCXmCwkbSkIp3O18l3JH-uHeCXYQJhmM1CZaMm8TyDepvU7KprlKuuiCyg
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - bad1874a1a0b8
    body:
      encoding: UTF-8
      string: '{"webhooks":[]}'
  recorded_at: Thu, 06 Feb 2020 16:42:31 GMT
recorded_with: VCR 2.9.3
