---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RkFLRV9QQVlQQUxfQ0xJRU5UX0lEOkZBS0VfUEFZUEFMX0NMSUVOVF9TRUNS\nRVQ=
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 169ec84d9525f
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAGyyqoarQE6I9Wxbq_er-k3rmKigP-SNciVOPzMnW8IsLA6-Knhf0OKX0hBOKTyHP0YHQmuEUPRQBD_ttYqPqJJXxrw9Q","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32272,"nonce":"2020-01-29T15:00:31ZFwuUb52ZyGkeqn1JmKF9XNyou0RthhLQZkXBhENsLVI"}'
  recorded_at: Wed, 29 Jan 2020 15:02:39 GMT
- request:
    method: patch
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/5AN04236N2178502U
    body:
      encoding: UTF-8
      string: '[{"op":"replace","path":"/purchase_units/@reference_id==''default''/amount","value":{"currency_code":"USD","value":"125.00"}}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAGyyqoarQE6I9Wxbq_er-k3rmKigP-SNciVOPzMnW8IsLA6-Knhf0OKX0hBOKTyHP0YHQmuEUPRQBD_ttYqPqJJXxrw9Q
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 204
      message: No Content
    headers:
      Paypal-Debug-Id:
      - 83d9c49c4436
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 29 Jan 2020 15:02:40 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v2/checkout/orders/5AN04236N2178502U
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer A21AAGyyqoarQE6I9Wxbq_er-k3rmKigP-SNciVOPzMnW8IsLA6-Knhf0OKX0hBOKTyHP0YHQmuEUPRQBD_ttYqPqJJXxrw9Q
      Sdk-Name:
      - Checkout SDK
      Sdk-Version:
      - 1.0.3
      Sdk-Tech-Stack:
      - Ruby2.6.3
      Api-Integration-Type:
      - PAYPALSDK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - daf578314911
    body:
      encoding: UTF-8
      string: '{"id":"5AN04236N2178502U","intent":"CAPTURE","purchase_units":[{"reference_id":"default","amount":{"currency_code":"USD","value":"125.00"},"payee":{"email_address":"sb-43jrhs896881@business.example.com","merchant_id":"M3XMHZJKTFK88"}}],"create_time":"2020-01-29T14:49:43Z","links":[{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/5AN04236N2178502U","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/checkoutnow?token=5AN04236N2178502U","rel":"approve","method":"GET"},{"href":"https://api.sandbox.paypal.com/v2/checkout/orders/5AN04236N2178502U/capture","rel":"capture","method":"POST"}],"status":"CREATED"}'
  recorded_at: Wed, 29 Jan 2020 15:02:41 GMT
recorded_with: VCR 2.9.3
