- unless @cart.no_items?
  - if current_user.present?
    - set_paypal_client_token
  .grid.grid--right
    .grid__cell.grid__cell--50-at-medium
      #paypal-button-container.cart__checkout-action.cart__checkout-action--paypal
